.slide-info {
  display: flex;
  padding: 6%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-info h2 {
  font-size: var(--size-small);
  margin: 0;
  line-height: normal;
}

.slide-info p {
  font-size: var(--size-min);
  max-width: 200px;
}
