
@custom-selector :--cards .card, .card-half, .card-large;

:--grids {
  lost-center : 100%;
  position    : relative;
}

:--grids :--cards {
  lost-center : 100%;
  margin      : calc(var(--space-base)*2) 0;
}

.card-half:first-child {
  margin-top: 0;
}

.card-half:last-child {
  margin-bottom: 0;
}
