.size_model {
  display: block;
  width: 100%;
  margin: calc(var(--space-large)*2) 0 calc(var(--space-large)*3);
}

.size_model ._content {
  display: flex;
  margin-top: var(--size-base)!important;
  justify-content: space-between;
  width: 100%;
  border: var(--border-focus);
  position: relative;
}

.size_model ._image {
  width: 50%;
  min-width: 50%;
  padding-top: var(--space-base);
  display: flex;
  justify-content: center;
  border-right: var(--border-focus);
}

.size_model ._menu {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.size_model ._menu li {
  border-top: var(--border-focus);
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 33%;
}

.size_model ._menu._half li {
  min-height: 50%;
}

.size_model ._menu strong {
  display: block;
}

.size_model ._menu p {
  margin: 0;
  padding: calc(var(--space-large)*2);
}


@media (--screen-small) {

  .size_model ._content {
    flex-wrap: wrap;
  }

  .size_model ._image {
    border-right: none;
    width: 100%;
    min-width: 100%;
  }

  .size_model ._image img {
    width: 100%;
    min-width: 100%;
  }

  .size_model ._menu p {
    margin: 0;
    padding: var(--space-large);
  }

}
