{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="footer-np" role="contentinfo">
  <div class="container reset">
    <div class="footer-left">
      <form action="form-wrap" class="form-wrap">
        <div class="form_inline">
          <input type="email" name="form-wrap" placeholder="SIGN UP FOR OUR form-wrap">
          <button class="btn-icon">ok</button>
        </div>
      </form>
    </div>
    <div class="footer-right">

      <div class="social-list">
        <ul class="menu">
          <li>
            <a href="#">
              <svg class="icon _large icon-facebook">
                <use xlink:href="public/svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon _large icon-twitter">
                <use xlink:href="public/svg/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon _large icon-instagram">
                <use xlink:href="public/svg/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon _large icon-pinterest">
                <use xlink:href="public/svg/icons.svg#icon-pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="info-footer">
        <button class="btn-link" id="active-footer-menu">info</button>
        <div class="propover" id="footer-menu">
          <ul class="menu-vertical">
            <li><a href="#">sobre a marca</a></li>
            <li><a href="#">guia de tamanhos</a></li>
            <li><a href="#">formas de pagamento</a></li>
            <li><a href="#">entregas de prazos</a></li>
            <li><a href="#">trocas e devoluções</a></li>
            <li><a href="#">contato</a></li>
          </ul>
        </div>
      </div>

      <address> &copy; NAYP CO. LTD / CURITIBA-PR / EST. M M V</address>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
