/*=========================================================================
02/J - PROPOVER
=========================================================================*/

.propover {
  display       : block;
  padding       : var(--space-base);
  background    : white;
  position      : relative;
  border        : var(--border-base);
  border-radius : var(--radius-base);
  box-sizing    : border-box; 
}

.propover * {
  color : black;
}

.propover::after {
  content       : "";
  position      : absolute;
  left          : calc(50% - 7px);
  top           : 0;
  height        : 0;
  margin-top    : -18px;
  border-left   : 7px solid transparent;
  border-right  : 7px solid transparent;
  border-top    : 7px solid transparent;
  border-bottom : 7px solid black;
}
